.sidebar {
  --nav-base: #fafafa;
  --purple--background: color-mix(in srgb, var(--nav-base) 90%, var(--ucl-accent) 10%);

  grid-area: nav;
  width: 180px;
  padding: 1rem;
  background-color: var(--nav-base);

  a {
    white-space: nowrap;
  }
}
