.sidebar {
  --nav-base: #fafafa;
  --purple--background: color-mix(in srgb, var(--nav-base) 90%, var(--ucl-accent) 10%);

  grid-area: nav;
  width: 180px;
  padding: 1rem;
  background-color: var(--nav-base);

  hr {
    border-color: var(--ucl-accent);
  }
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin: 0.5rem 0;
    border-radius: var(--default-border-radius);

    &.active {
      background-color: var(--purple--background);
      border: 2px solid var(--ucl-accent);
    }
  }

  a {
    /* displaying as flex to allow for gap because when navigating the spacing changes fsr */
    display: flex;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--foreground);
    transition: all 0.3s ease;
    text-align: left;

    svg {
      stroke: var(--ucl-accent);
      transition: all 0.3s ease;
    }

    &:hover {
      color: var(--foreground);
    }

    &:where([href="/profile"]) {
      svg {
        fill: var(--ucl-accent);
        stroke: none;
      }
    }
  }
}

.logout {
  width: 150px;
  font-weight: 400 !important;
  color: var(--ucl-accent);
  transition: background-color 0.3s ease;

  svg {
    width: 1rem;
  }

  &:hover {
    background-color: var(--purple--background);
  }
}
