.sidebar {
  width: 220px;
  background-color: var(--background);
  padding: 1rem;
}

.sidebar__title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin: 0.5rem 0;
  }

  a {
    text-decoration: none;
    color: var(--foreground);

    &:hover {
      text-decoration: underline;
    }
  }


}