version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: "monthly"
    groups:
      dependencies:
        patterns:
          - "*"

  - package-ecosystem: "docker"
    directory: /
    schedule:
      interval: "monthly"

  - package-ecosystem: "npm"
    directory: /web
    schedule:
      interval: "monthly"
    groups:
      dependencies:
        patterns:
          - "*"
    ignore:
      - dependency-name: "next"
        versions: ["^15"]
      - dependency-name: "react"
        versions: ["^19"]
