:root {
  --background: #ffffff;
  --foreground: #171717;

  --text--secondary: #595959;

  --green-300: #10431a;
  --green-200: #1b6229;
  --green-100: #328543;
  --green-50: #64bb75;

  --form-link: #0066cc;
  --form-link--hover: #004499;
  --form-blue--light: #007bff;
  --form-blue--shadow: rgba(0, 123, 255, 0.25);

  --grey-border--light: #ced1d7;
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.subtitle {
  padding-bottom: 1rem;
}

dialog {
  justify-items: center;
  justify-self: center;
}

.role {
  background: #f3f4f6;
  color: #374151;
  padding: 0.25rem 0.75rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  margin-inline: 0.2rem;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-inline: 4%;
  gap: 1.5rem;
}

.error-message {
  color: #d32f2f;
  background-color: #fdeaea;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 16px;
}
