@import url(./form.css);

:root {
  --background: #ffffff;
  --foreground: #171717;

  --text--secondary: #595959;

  --green-300: #10431a;
  --green-200: #1b6229;
  --green-100: #328543;
  --green-50: #64bb75;

  --red-200: #c82333;
  --red-100: #dc3545;

  --form-link: #5800cc;
  --form-link--hover: #470b9a;
  --form-purple--light: #7300ff;
  --form-purple--shadow: rgba(128, 0, 255, 0.25);

  --grey-border--light: #ced1d7;

  --expiry-urgency--high: #b80f0f;
  --expiry-urgency--medium: #b75301;
  --expiry-urgency--low: #457100;

  --ucl-accent: #9a3bff;
  --ucl-dark: #2c0442;
  --ucl-mid: #500778;
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html:has(dialog[open]) {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.subtitle {
  padding-bottom: 1rem;
}

dialog {
  justify-items: center;
  justify-self: center;
}

.role {
  background: #f3f4f6;
  color: #374151;
  padding: 0.25rem 0.75rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  margin-inline: 0.2rem;
}

.content {
  width: clamp(50vw, 60vw, 70vw);
  margin-inline: auto;
}

.error-message {
  color: #d32f2f;
  background-color: #fdeaea;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 16px;
}

.tab-collection {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  position: relative;
  margin-block: 1.8rem;

  .tab {
    border: none;
    border-bottom: 2px solid var(--grey-border--light);
    background-color: var(--background) !important;
    transition: all 0.3s ease;
    height: 2.5rem;

    &:hover {
      color: var(--form-purple--light);
      border-bottom-color: var(--form-purple--light);
      background-color: var(--background) !important;
    }

    &:focus-visible {
      box-shadow: none;
    }

    &.active {
      color: var(--ucl-accent);
      border: 1px solid var(--grey-border--light);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-block: 2px solid color-mix(in srgb, var(--grey-border--light) 20%, var(--ucl-accent) 80%);
      border-bottom: none;
    }
  }
}

.delete-button-confirm {
  background-color: var(--red-100) !important;
  border-color: var(--red-100) !important;
  color: white !important;

  &hover:not(:disabled) {
    background-color: var(--red-200) !important;
    border-color: var(--red-200) !important;
  }

  &:disabled {
    opacity: 0.6 !important;
  }
}

.expiry-urgency--low {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--expiry-urgency--low);
}

.expiry-urgency--high,
.expiry-urgency--critical {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--expiry-urgency--high);
}

.expiry-urgency--medium {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--expiry-urgency--medium);
}

.actions-icon {
  height: 1rem;
}
