:root {
  --background: #ffffff;
  --foreground: #171717;

  --text--secondary: #595959;

  --green-300: #10431a;
  --green-200: #1b6229;
  --green-100: #328543;
  --green-50: #64bb75;

  --form-link: #4023a7;
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.subtitle {
  padding-bottom: 1rem;
}

dialog {
  justify-items: center;
  justify-self: center;
}

.role {
  background: #f3f4f6;
  color: #374151;
  padding: 0.25rem 0.75rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  margin-inline: 0.2rem;
}
