.breadcrumbs {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  color: #666;
  font-size: 1rem;
  flex-wrap: wrap;

  > * {
    margin: 0.25rem 0;
    padding: 0.25rem 0;
  }

  button {
    margin: 0;
    padding: 0.25rem;
    font-size: 1.1rem;
  }

  span {
    margin: 0;
    padding: 0;
  }
}

.current {
  color: #666 !important;
  &:hover {
    color: #666;
  }
}
