.callout {
  justify-self: center;
  max-width: 1000px;
  margin-bottom: 2rem;
  padding: 1.5rem;
  background-color: #f9f8fa;
  border-left: 4px solid var(--ucl-mid);
  border-radius: var(--default-border-radius);
  margin-inline: 3vw;

  p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
  }

  a {
    color: var(--ucl-accent);
    text-decoration: underline;
    transition: color 0.3s ease;

    &:hover {
      color: var(--ucl-mid);
    }
  }
}

.construction {
  background-color: #f9f6ec;
  border-color: #925506;
}

.definition {
  border-color: var(--ucl-accent);
}
