.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

.content {
  margin-bottom: 1rem;
  color: #444;
}

.footer {
  display: grid;
  gap: 0.65rem;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
  grid-template-columns: 3fr 1.5fr;
}

.actions {
  grid-column: 2;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

@media (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
  }
}
