.dialog {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
  max-width: calc(100vw - 4rem);
  max-height: calc(100vh - 8rem);
  padding: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  border: 2px solid #191919;
  border-radius: 12px;
  background: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow-y: auto;
  margin: 0;

  .close-button {
    top: 0;
  }
}

.blanket {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
}
