.dialog {
  max-width: 80vw;
  padding: 1rem;
  padding-top: 0.5rem;
  border-radius: 8px;
  position: fixed;

  z-index: 1000;

  .close-button {
    top: 0;
  }
}

.blanket {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
}
