.button {
  writing-mode: sideways-lr;
  position: fixed;
  top: 50%;
  right: 0;
  background: var(--green-300);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 8px;
  padding-right: 5px;
  font-weight: bold;
  transition: all 0.3s ease;

  &:hover {
    background: var(--green-200);
    padding-right: 10px;
  }
}
