.button {
  writing-mode: sideways-lr;
  position: fixed;
  top: 50%;
  right: 0;
  background: black;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 8px;
  padding-right: 5px;
  font-weight: bold;

  &:hover {
    background: #424242;
  }
}
