.tooltip {
  position: relative;
  display: inline-block;
  margin-inline: 0.2rem;

  .icon {
    height: 15px;
    width: 15px;
    color: var(--text--secondary);
    vertical-align: top;
  }

  .tooltip__content {
    z-index: 2;
    background-color: var(--background);
    border: 1px solid var(--green-50);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    color: var(--foreground);
    width: clamp(10rem, 30vw, 16rem);
    max-width: 17rem;
    line-height: 1.2;

    position: absolute;
    right: -1rem;
    top: 1rem;

    opacity: 0;
    transition: all 0.3s;
    visibility: hidden;
  }

  &:hover .tooltip__content {
    opacity: 1;
    visibility: visible;
  }
}
