.pagination-container {
  margin-top: 2rem;
}

.pagination-buttons {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
  text-align: center;
  align-items: center;
}

.pagination-buttons small {
  grid-column: 2;
}

.pagination-buttons .next-button {
  grid-column: 3;
}

.pagination-help {
  display: block;
  margin-top: 0.5rem;
  text-align: center;
}
