.selected-users {
  margin-bottom: 1rem;
}

.role-heading {
  border-top: 1px solid var(--grey-border--light);
  font-size: smaller;
  padding-top: 0.5rem;
  margin-top: 0.4rem;
}

.lookup {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.6rem;
}

.user-result {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-weight: 400;

  > div {
    width: 100%;
  }

  .user-result-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.hidden {
  display: none;
}
