.project-selection {
  width: 100%;
  margin-top: 2rem;
}

.projects-list {
  display: grid;
  gap: 2rem;
  margin-top: 0;
  padding-top: 0.2rem;
}

.project-environment {
  margin: 0 0 0.5rem 0;
  color: #424242;
  font-weight: 500;
}

.project-creator {
  margin: 0;
  color: #555555;
}

@media (max-width: 768px) {
  .project-selection {
    width: 100%;
  }

  .project-actions {
    flex-direction: column;
  }

  .delete-dialog {
    max-width: 100%;
  }

  .delete-actions {
    flex-direction: column-reverse;
  }
}
