.review-warning {
  margin: 0 auto 1rem auto;
  line-height: 1.5rem;

  h3 {
    padding-bottom: 1rem;
  }

  ul {
    padding-left: 1rem;
  }

  li {
    padding-left: 1rem;
  }
}

.review-confirm-text {
  margin-top: 0.75rem;
}

.review-checkbox {
  margin-top: 0.75rem;

  label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.review-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
