.agreement-text-container {
  padding: 1rem;
  padding-top: 0;
}

.agreement-text-content {
  list-style: inside;

  p {
    padding-top: 0.7rem;
  }

  li {
    padding-top: 0.4rem;
  }

  a {
    text-decoration: underline;
    color: var(--form-link);
  }

  h2,
  h3 {
    margin-top: 1.5rem;
  }
}
