.subtitle {
  text-align: center;

  .highlighted {
    color: var(--green-300);
    background-color: color-mix(in srgb, var(--green-50) 40%, transparent 60%);
    padding-inline: 0.2rem;
  }

  .coloured {
    color: var(--green-200);
  }
}

.glossary-button {
  display: inline !important;
  margin-inline: 0.2rem;
  padding: 0 !important;
}
