.subtitle {
  text-align: center;

  .info {
    height: 15px;
    width: 15px;
    color: var(--text--secondary);
    vertical-align: top;
  }
}

.glossary-button {
  display: inline !important;
  margin-inline: 0.2rem;
  padding: 0 !important;
}
