.data-protection-wrapper {
  display: flex;
}

.data-protection-wrapper input {
  display: inline-block;
  font-size: 1rem;
  border: 1px solid rgb(102, 102, 102);
  border-radius: var(--default-border-radius);
  margin: 5px;
  padding: 5px;
}

.alert {
  padding: 0.3rem;
  p {
    font-size: 0.875rem;
  }

  a {
    text-decoration: underline;
    color: var(--ucl-accent);
    &:hover {
      color: var(--ucl-mid);
    }
  }
}
