.step-progress {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-dot {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  margin: 0 0.5rem;
  background-color: var(--green-100);
  opacity: 0.4;
}

.step-dot.active {
  background-color: var(--green-100);
  opacity: 1;
}
