.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 1rem;
}

.approve-button {
  background-color: var(--green-100) !important;
  border-color: var(--green-100) !important;
  margin-inline: 0.4rem;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--green-200) !important;
  }
}

.reject-button {
  color: #a50909 !important;
  border: 2px solid #a50909 !important;
  margin-inline: 0.4rem;
  transition: all 0.3s ease;

  &:hover:not(:disabled) {
    background-color: #a50909 !important;
    color: #fff !important;
  }
}

.heading {
  margin-bottom: 0.75rem;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.feedback-required {
  color: #a50909;
  display: block;
  margin-top: 0.25rem;
  text-align: center;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  width: 60%;
}
