.signoff-warning {
  margin: 0 auto 1rem auto;
  line-height: 1.5rem;

  h3 {
    padding-bottom: 1rem;
  }

  ul {
    padding-left: 1rem;
  }

  li {
    padding-left: 1rem;
  }
}

.signoff-confirm-text {
  margin-top: 0.75rem;
}

.signoff-checkbox {
  margin-top: 0.75rem;
}

.signoff-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
