.text {
  p {
    padding-top: 0.7rem;
  }

  li {
    padding-top: 0.2rem;
  }

  a {
    text-decoration: underline;
    color: #4023a7;
  }
}

.text {
  @media (prefers-color-scheme: dark) {
    p {
      color: #c9ced8;
    }

    li {
      color: #c9ced8;
    }

    a {
      color: #c3b0d7;
    }
  }
}
