.approve-button {
  background-color: var(--green-100) !important;
  border-color: var(--green-100) !important;
  margin-inline: 0.4rem;
}

.reject-button {
  color: #a50909 !important;
  border: 2px solid #a50909 !important;
  margin-inline: 0.4rem;
  transition: all 0.3s ease;

  &:hover {
    background-color: #a50909 !important;
    color: #fff !important;
  }
}

.feedback-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.feedback-form {
  overflow: hidden;
  transition: all 1.6s ease 0.2s;
  max-height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &.form-hidden {
    display: none;
    max-height: 0px;
  }

  &.form-collapsing {
    * {
      animation: slide-up-fade 1.3s ease 0s 1 normal forwards;
      transition:
        opacity 1s,
        transform 0.8s 1s;
    }
  }

  &.form-visible {
    max-height: 100vh;

    animation: fade-slide-down 1.4s ease 0s 1 normal forwards;
    transition:
      opacity 1.4s,
      transform 1s 1.2s;
  }
}

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up-fade {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-80px);
  }
}
