.approve-button {
  background-color: var(--green-100) !important;
  border-color: var(--green-100) !important;
  margin-inline: 0.4rem;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--green-200) !important;
  }
}

.reject-button {
  color: #a50909 !important;
  border: 2px solid #a50909 !important;
  margin-inline: 0.4rem;
  transition: all 0.3s ease;

  &:hover:not(:disabled) {
    background-color: #a50909 !important;
    color: #fff !important;
  }
}

.feedback-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
