.study-dialog {
  width: 70vw;
  overflow: scroll;
  position: absolute;
  top: 5vh;
}

.form {
  width: 100%;
  margin-block: 1.8rem;

  a {
    color: var(--form-link);
    text-decoration: underline;
  }

  .fieldset {
    border: 1px solid var(--text--secondary);
    border-radius: 8px;
    padding: 1rem;
    margin-block-end: 1.5rem;
    display: grid;
    width: 100%;

    legend {
      color: var(--text--secondary);
      font-size: 0.75rem;
    }

    label {
      padding: 0.4rem;

      input,
      textarea {
        margin-inline: 0.4rem;
        accent-color: var(--green-200);
      }

      small {
        display: block;
      }
    }
  }
}
