.table {
  width: 100%;
  margin-block: 1rem;
  font-size: 110%;
  border-collapse: collapse;

  .tbody {
    border-top: 2px solid var(--foreground);
  }

  .row {
    border-bottom: 1px solid var(--text--secondary);
    margin-bottom: 0.8rem;

    td {
      padding-block: 0.6rem;
    }
  }

  .user {
    display: flex;
    flex-direction: column;

    small {
      color: var(--text--secondary);
    }
  }

  .edit {
    font-weight: 400;
    font-size: 0.8rem;
    padding-inline-start: 0.4rem;
    color: var(--green-100);

    &:hover {
      color: var(--green-50);
    }
  }

  .roles {
    text-align: center;
  }

  .agreements {
    text-align: right;
  }

  .agreement,
  .training {
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    grid-template-columns: 3fr 0.2fr;

    .confirmed svg {
      grid-row: 1;
      stroke: var(--green-100);
    }

    .unconfirmed svg {
      grid-row: 1;
      stroke: red;
    }

    small {
      grid-row: 2;
    }
  }

  .trainingRecord {
    text-align: right;
    display: grid;
    grid-template-columns: 4fr 0.5fr;
  }
}
