.helptext {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;

  :link {
    color: blue;
    text-decoration: underline;
  }
}

.button {
  min-width: 23rem;
}

.dialog {
  width: clamp(40vw, 50vw, 60vw);
}

.dialog-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
