.helptext {
  font-size: 0.65rem;
  margin-bottom: 0.5rem;

  :link {
    color: blue;
  }
}

.button {
  min-width: 17rem;
}

@media (prefers-color-scheme: dark) {
  .helptext {
    :link {
      color: lightblue;
    }
  }
}
