.chosen-name-dialog {
  width: clamp(28rem, 40rem, 45rem);
}

.button-group {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}

.button-group button {
  margin: 0;
  vertical-align: middle;
}
