.dialog {
  margin-top: 15vw;
  width: 60vw;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.invite-form {
  padding: 1rem;

  label {
    padding-bottom: 0.5rem;
  }
}

.send-button {
  width: 100%;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
}

.loader {
  padding: 0;
  transform: translateY(0.2rem);
  align-self: end;

  * {
    padding: 0;
  }
}
