.container {
  padding-top: 2rem;
}

.chart {
  display: flex;
  flex: 0 0 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-height: 350px;
  aspect-ratio: 1;
}
