.current-step {
  width: 100%;
  margin: 1rem 0 0 0;
}

.approved-researcher-steps {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.completed-message {
  text-align: center;
  padding: 3rem 2rem;
  background: var(--background);
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}

.completed-message h2 {
  margin: 0 0 1rem 0;
  color: var(--green-200);
}

.completed-message p {
  margin: 0;
  color: #37393d;
  line-height: 1.5;
}

.reupload-option {
  width: 80%;
  margin-block: 0.5rem;
  padding: 1.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  button {
    align-self: end;
  }

  .certificate-container {
    overflow: hidden;
    transition: height 1.8s ease 0.4s;

    &.cert-hidden {
      display: none;
    }

    &.cert-collapsing {
      section {
        animation: slide-up-fade 1.8s ease 0s 1 normal forwards;
        transition:
          opacity 1.6s,
          transform 1s 1.5s;
      }
    }

    &.cert-visible {
      section {
        animation: fade-slide-down 1.8s ease 0s 1 normal forwards;
        transition:
          opacity 1.6s,
          transform 1s 1.5s;
      }
    }
  }
}

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up-fade {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-200px);
  }
}

@keyframes shrink {
  0% {
    height: 100%;
  }

  90% {
    height: 0;
  }
}
