---
name: Test
on:
  pull_request:

jobs:
  unit:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Run unit tests
        run: make test-unit

  e2e:
    runs-on: ubuntu-latest
    environment: e2e
    needs: [unit]

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5

      - name: Create oauth2-proxy config
        run: |
          cat <<EOF > e2e/oauth2-proxy.cfg
          cookie_secret="${{ secrets.OAUTH2PROXY_COOKIE_SECRET }}"
          client_id = "${{ secrets.OAUTH2PROXY_CLIENT_ID }}"
          oidc_issuer_url = "https://login.microsoftonline.com/${{ secrets.OAUTH2PROXY_TENANT_ID }}/v2.0"
          client_secret = "${{ secrets.OAUTH2PROXY_CLIENT_SECRET }}"

          redirect_url = "https://nginx:443/oauth2/callback"
          http_address="0.0.0.0:8080"
          email_domains=["*"]
          cookie_secure="false"
          session_cookie_minimal="true"
          upstreams="http://api:8080/"
          api_routes="/api"

          pass_user_headers = true

          provider = "oidc"
          skip_provider_button = true
          prefer_email_to_user = false
          EOF

      - name: Create config
        run: | # pragma: allowlist secret
          cat <<EOF > e2e/config.yaml
          debug: true
          admin_usernames:
            - portal-e2e-admin@arctretest.onmicrosoft.com
          tre_ops_staff_usernames:
            - portal-e2e-tre@arctretest.onmicrosoft.com
          ig_ops_staff_usernames:
            - portal-e2e-ig@arctretest.onmicrosoft.com
          dsh_ops_staff_usernames:
            - portal-e2e-dsh@arctretest.onmicrosoft.com
          db:
            dsn: host=postgres user=postgres password=postgres dbname=dev sslmode=disable TimeZone=UTC
          s3:
            dev:
              host: s3:8333
            bucket: bucket-name
            access_key_id: s3
            secret_access_key: s3
          entra:
            tenant_id: ${{ secrets.OAUTH2PROXY_TENANT_ID }}
            client_id: ${{ secrets.OAUTH2PROXY_CLIENT_ID }}
            client_secret: ${{ secrets.OAUTH2PROXY_CLIENT_SECRET }}
          tre:
            users:
              username: password
          EOF

      - name: Create cypress env
        run: |
          cat <<EOF > web/cypress.env.json
          {
            "botAdminUsername": "portal-e2e-admin@arctretest.onmicrosoft.com",
            "botAdminPassword": "${{ secrets.CYPRESS_BOT_ADMIN_PASSWORD }}",
            "botBaseUsername": "portal-e2e-base@arctretest.onmicrosoft.com",
            "botBasePassword": "${{ secrets.CYPRESS_BOT_BASE_PASSWORD }}",
            "botStaffUsername": "portal-e2e-staff@arctretest.onmicrosoft.com",
            "botStaffPassword": "${{ secrets.CYPRESS_BOT_STAFF_PASSWORD }}",
            "botIGUsername": "portal-e2e-ig@arctretest.onmicrosoft.com",
            "botIGPassword": "${{ secrets.CYPRESS_BOT_IG_PASSWORD }}",
            "botTREUsername": "portal-e2e-tre@arctretest.onmicrosoft.com",
            "botTREPassword": "${{ secrets.CYPRESS_BOT_TRE_PASSWORD }}"
            "botDSHUsername": "portal-e2e-dsh@arctretest.onmicrosoft.com",
            "botDSHPassword": "${{ secrets.CYPRESS_BOT_DSH_PASSWORD }}"
          }
          EOF

      - name: Run e2e tests
        run: make test-e2e-release
