# Node & Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build Output
/.next/
/out/
/build
/dist
/dist-ssr

# Environment
.env*
.env.local
.env.*.local
!.env.production
!.env.development
!.env.test

# Cypress and testing
cypress/videos
cypress/screenshots
cypress/downloads
cypress.env.json
/coverage

# Logs
logs
*.log
*debug.log*
*error.log*

# System / Misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
.eslintcache

# Editor Configs
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel
